In [323]:
import pandas as pd

In [324]:
netflix_df = pd.read_csv("./total_netflix_2023 new.csv")

netflix_df.head(10)

,Title,Available Globally?,Release Date,Hours Viewed,Number of Ratings,Rating,Genre,Key Words,Description
0,The Night Agent: Season 1,Yes,2023-03-23,812100000,7696.0,6.0,"Biography, Drama, History","persian empire,empire,5th century b.c.,achaeme...",The film follows headstrong Ginny who meets Su...
1,Ginny & Georgia: Season 2,Yes,2023-01-05,665100000,5216.0,5.7,"Comedy, Drama,Romance","producer,three word title,headstrong,arranged ...","Betrothed against her will to King George, you..."
2,The Glory: Season 1 // 더 글로리: 시즌 1,Yes,2022-12-30,622800000,11869.0,8.4,['Short'],"prequel,queen,historical,england,queen charlot...",A holiday romantic comedy that captures the ra...
3,Wednesday: Season 1,Yes,2022-11-23,507700000,50077.0,7.4,"['Drama', 'History', 'Romance']","christmas,coming out,holidays,lesbian relation...",The film follows headstrong Ginny who meets Su...
4,Queen Charlotte: A Bridgerton Story,Yes,2023-05-04,503000000,45624.0,6.6,"['Comedy', 'Romance']","telenovela,drug trafficking,cartel,femme fatal...","While fleeing from dangerous assailants, an as..."
5,You: Season 4,Yes,2023-02-09,440600000,3323.0,7.9,"['Action', 'Crime', 'Drama']","producer,three word title,headstrong,arranged ...",Retired ex national team female handball playe...
6,La Reina del Sur: Season 3,No,2022-12-30,429600000,5216.0,5.7,"['Comedy', 'Drama', 'Romance']","female protagonist,assassin,daughter,danger,fight",Wife and mother Miriam begins a downward emoti...
7,Outer Banks: Season 3,Yes,2023-02-23,402500000,35.0,7.6,"['Short', 'Comedy']","teacher,tutor,mother daughter relationship,kor...",Brilliant but disgraced detective John Luther ...
8,Ginny & Georgia: Season 1,Yes,2021-02-24,302100000,44102.0,5.6,"['Action', 'Thriller']","close up of eye,close up of eyes,close up of l...",After barely surviving his grievous wounds fro...
9,FUBAR: Season 1,Yes,2023-05-25,266200000,3963.0,7.8,"['Comedy', 'Drama', 'Romance']","psychological thriller,serial killer,ice,cyber...",Dark forces conspire against orphan mapmaker A...

In [325]:
netflix_df["Release Date"] = pd.to_datetime(netflix_df["Release Date"],errors='coerce')
netflix_df["Hours Viewed"] = pd.to_numeric(netflix_df["Hours Viewed"], errors='coerce')
netflix_df['Rating'] = pd.to_numeric(netflix_df['Rating'], errors='coerce')
netflix_df['Number of Ratings'] = pd.to_numeric(netflix_df['Number of Ratings'], errors='coerce')

# Filtra as linhas onde a conversão para número foi bem-sucedida
netflix_df = netflix_df[pd.notna(netflix_df["Release Date"])]
netflix_df = netflix_df[pd.notna(netflix_df['Number of Ratings'])]


# Exibe o DataFrame resultante
print(netflix_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 14633 entries, 0 to 14638
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                14633 non-null  object
 1   Available Globally?  14633 non-null  object
 2   Release Date         14633 non-null  datetime64[ns]
 3   Hours Viewed         14633 non-null  float64
 4   Number of Ratings    14633 non-null  float64
 5   Rating               14633 non-null  float64
 6   Genre                14633 non-null  object
 7   Key Words            14633 non-null  object
 8   Description          14633 non-null  object
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 1.1+ MB
None

In [326]:
netflix_df[["Genre"]]

                                      Genre
0                 Biography, Drama, History
1                     Comedy, Drama,Romance
2                                 ['Short']
3           ['Drama', 'History', 'Romance']
4                     ['Comedy', 'Romance']
...                                     ...
14634      ['Action', 'Adventure', 'Crime']
14635  ['Animation', 'Adventure', 'Comedy']
14636         ['Comedy', 'Drama', 'Sci-Fi']
14637                   ['Comedy', 'Drama']
14638      ['Action', 'Adventure', 'Drama']

[14633 rows x 1 columns]

In [327]:
def limpar_genre(valor):
    if valor == "0" or valor == "Genre":
        return "Unknown"
    if isinstance(valor, str):
        # Remove as aspas e colchetes
        valor = valor.replace("'", "").replace("[", "").replace("]", "")
        # Divide os gêneros e remove espaços em branco
        generos = [g.strip() for g in valor.split(',')]
        # Concatena os gêneros de volta em uma string
        return ','.join(generos)
    else:
        return valor


def serapar_genre(valor,num):

    lista = valor.split(",")
            
    if len(lista) == 1:
        lista.append(None)
        lista.append(None)
    elif len(lista) == 2:
        lista.append(None)

    return lista[num]

In [328]:
# Aplica a função à coluna "Genre"
netflix_df["Genre"] = netflix_df["Genre"].apply(limpar_genre)

# Aplica a função Separar_genre
for i in range(3):
    texto = f'Genre_{i}'  
    netflix_df[texto] = netflix_df["Genre"].apply(serapar_genre, num = i)

In [329]:
netflix_df.head(10)

,Title,Available Globally?,Release Date,Hours Viewed,Number of Ratings,Rating,Genre,Key Words,Description,Genre_0,Genre_1,Genre_2
0,The Night Agent: Season 1,Yes,2023-03-23,812100000.0,7696.0,6.0,"Biography,Drama,History","persian empire,empire,5th century b.c.,achaeme...",The film follows headstrong Ginny who meets Su...,Biography,Drama,History
1,Ginny & Georgia: Season 2,Yes,2023-01-05,665100000.0,5216.0,5.7,"Comedy,Drama,Romance","producer,three word title,headstrong,arranged ...","Betrothed against her will to King George, you...",Comedy,Drama,Romance
2,The Glory: Season 1 // 더 글로리: 시즌 1,Yes,2022-12-30,622800000.0,11869.0,8.4,Short,"prequel,queen,historical,england,queen charlot...",A holiday romantic comedy that captures the ra...,Short,None,None
3,Wednesday: Season 1,Yes,2022-11-23,507700000.0,50077.0,7.4,"Drama,History,Romance","christmas,coming out,holidays,lesbian relation...",The film follows headstrong Ginny who meets Su...,Drama,History,Romance
4,Queen Charlotte: A Bridgerton Story,Yes,2023-05-04,503000000.0,45624.0,6.6,"Comedy,Romance","telenovela,drug trafficking,cartel,femme fatal...","While fleeing from dangerous assailants, an as...",Comedy,Romance,None
5,You: Season 4,Yes,2023-02-09,440600000.0,3323.0,7.9,"Action,Crime,Drama","producer,three word title,headstrong,arranged ...",Retired ex national team female handball playe...,Action,Crime,Drama
6,La Reina del Sur: Season 3,No,2022-12-30,429600000.0,5216.0,5.7,"Comedy,Drama,Romance","female protagonist,assassin,daughter,danger,fight",Wife and mother Miriam begins a downward emoti...,Comedy,Drama,Romance
7,Outer Banks: Season 3,Yes,2023-02-23,402500000.0,35.0,7.6,"Short,Comedy","teacher,tutor,mother daughter relationship,kor...",Brilliant but disgraced detective John Luther ...,Short,Comedy,None
8,Ginny & Georgia: Season 1,Yes,2021-02-24,302100000.0,44102.0,5.6,"Action,Thriller","close up of eye,close up of eyes,close up of l...",After barely surviving his grievous wounds fro...,Action,Thriller,None
9,FUBAR: Season 1,Yes,2023-05-25,266200000.0,3963.0,7.8,"Comedy,Drama,Romance","psychological thriller,serial killer,ice,cyber...",Dark forces conspire against orphan mapmaker A...,Comedy,Drama,Romance

In [330]:
netflix_df["Genre_0"].unique()

array(['Biography', 'Comedy', 'Short', 'Drama', 'Action', 'Crime',
       'Sport', 'Horror', 'Family', 'Romance', 'Adventure', 'Animation',
       'Documentary', 'Reality-TV', 'Talk-Show', 'Thriller', 'Mystery',
       'Game-Show', 'Music', 'Musical', 'Fantasy', 'History', 'Sci-Fi',
       'Western', 'Unknown'], dtype=object)

In [331]:
netflix_df = netflix_df[["Title","Available Globally?","Release Date","Hours Viewed","Number of Ratings","Rating","Genre_0","Genre_1","Genre_2"]]
netflix_df.head(10)

,Title,Available Globally?,Release Date,Hours Viewed,Number of Ratings,Rating,Genre_0,Genre_1,Genre_2
0,The Night Agent: Season 1,Yes,2023-03-23,812100000.0,7696.0,6.0,Biography,Drama,History
1,Ginny & Georgia: Season 2,Yes,2023-01-05,665100000.0,5216.0,5.7,Comedy,Drama,Romance
2,The Glory: Season 1 // 더 글로리: 시즌 1,Yes,2022-12-30,622800000.0,11869.0,8.4,Short,None,None
3,Wednesday: Season 1,Yes,2022-11-23,507700000.0,50077.0,7.4,Drama,History,Romance
4,Queen Charlotte: A Bridgerton Story,Yes,2023-05-04,503000000.0,45624.0,6.6,Comedy,Romance,None
5,You: Season 4,Yes,2023-02-09,440600000.0,3323.0,7.9,Action,Crime,Drama
6,La Reina del Sur: Season 3,No,2022-12-30,429600000.0,5216.0,5.7,Comedy,Drama,Romance
7,Outer Banks: Season 3,Yes,2023-02-23,402500000.0,35.0,7.6,Short,Comedy,None
8,Ginny & Georgia: Season 1,Yes,2021-02-24,302100000.0,44102.0,5.6,Action,Thriller,None
9,FUBAR: Season 1,Yes,2023-05-25,266200000.0,3963.0,7.8,Comedy,Drama,Romance

In [332]:
netflix_df.to_excel("netflix_dataframe.xlsx", index=False)

In [333]:
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14633 entries, 0 to 14638
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                14633 non-null  object
 1   Available Globally?  14633 non-null  object
 2   Release Date         14633 non-null  datetime64[ns]
 3   Hours Viewed         14633 non-null  float64
 4   Number of Ratings    14633 non-null  float64
 5   Rating               14633 non-null  float64
 6   Genre_0              14633 non-null  object
 7   Genre_1              10787 non-null  object
 8   Genre_2              6555 non-null   object
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 1.1+ MB